<!DOCTYPE html>
<html>
  <head>
    <title>Enrollement phase</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/signatureCanvas.js")" type="text/javascript"></script>
    <script src="@routes.Application.javascriptRoutes" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>
    <div id="enrollment_pending" class="info"><div class="info_text">Enrollment, please wait...</div></div>
    <div id="error" class="info"><div class="info_text">Oops...</div></div>
    <div id="username" class="info"><div class="info_text">
        <h1>Enrollment</h1>
        <form id="enroll-form">
            <input type="text" name="username" autocomplete="off" placeholder="Username"><br><br>
            <input type="text" name="email" autocomplete="off" placeholder="your&#64;email.ch"><br><br>
            <input type="submit" id="ok" value="Next">
        </form>
    </div></div>
    <canvas id="signPad" width="640px" height="300px"></canvas>
    <div id="menu"  class="enrollment-menu">
      <li><a href="#" id="clear"><div class="menu_text">-</div></a></li>
      <li><a href="#" id="add"><div class="menu_text">+</div></a></li>
      <li><a href="#" id="enroll"><div class="menu_text">✓</div></a></li>
    </div>
    <script>
      var green = 13;
      var canvas = $("#signPad")[0];
      canvas.width  = window.innerWidth*0.9;
      canvas.height = window.innerHeight;
      $(window).resize(function(){
        canvas.width  = window.innerWidth*0.9;
        canvas.height = window.innerHeight;
      });

      $("#username").css( "display", "table");
          
      $("#enroll-form").submit(function(event) {
        $("#username").css( "display", "none");
        event.preventDefault();
      });

      var add_success = function() {
        green = green+20;
        $("#enroll").css("background-color","rgb(13,"+green+",13)");
      }

      var enrollment_pending = function() {
        $("#enrollment_pending").css( "display", "table");
      }

      var enrollment_success = function() {
        $("#enrollment_pending").css( "display", "none");
        $("#enroll").css("background-color","rgb(13,13,13)");
        green = 13;
      }


      var error = function() {
        green = 13;
        $("#enrollment_pending").css( "display", "none");
        $("#error").css( "display", "table");
        $("#error").click(function() {
          $("#error").css( "display", "none");
        });
      }
      
      var signPad = new SignaturePad($("#signPad"));
      
      $("#clear").click(function() {
        signPad.clear();
      });

      $("#add").click(function() {
        signPad.sendSign($("input[name=username]").val(), add_success, error);
      });

      $("#enroll").click(function() {
        signPad.enroll(enrollment_pending, enrollment_success, error);
      });


      
    </script>
  </body>
</html>