<!DOCTYPE html>
<html>
    <head>
        <title>Enrollement phase</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/signatureCanvas.js")" type="text/javascript"></script>
        <script src="@routes.Application.javascriptRoutes" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body>
        <div id="enrollment_pending" class="info"><div class="info_text">Enrollment, please wait...</div></div>
        <div id="check_success" class="info"><div class="info_text"></div></div>
        <div id="error" class="info"><div class="info_text">Oops...</div></div>
    	<canvas id="signPad" width="640px" height="300px"></canvas>
		<div id="menu">
            <li><a href="#" id="clear"><div class="menu_text">Clear</div></a></li>
            <li><a href="#" id="add"><div class="menu_text">New</div></a></li>
  			<li><a href="#" id="enroll"><div class="menu_text">Enroll</div></a></li>
            <li><a href="#" id="check"><div class="menu_text">Check</div></a></li>
		</div>
		<script>
            var green = 13;
            var canvas = $("#signPad")[0];
            canvas.width  = window.innerWidth*0.8;
            canvas.height = window.innerHeight;
            $(window).resize(function(){
                canvas.width  = window.innerWidth*0.8;
                canvas.height = window.innerHeight;
            });

            var add_success = function() {
                green = green+20;
                $("#enroll").css("background-color","rgb(13,"+green+",13)");
            }

            var enrollment_pending = function() {
                $("#enrollment_pending").css( "display", "table");
            }

            var enrollment_success = function() {
                $("#enrollment_pending").css( "display", "none");
                $("#check").css("background-color","rgb(13,180,13)");
                $("#enroll").css("background-color","rgb(13,13,13)");
                green = 13;
            }

            var check_success = function(proba) {
                $("#enrollment_pending").css( "display", "none");    
                $("#check_success").css( "display", "table");
                if (proba > 0.8) {
                    $("#check_success .info_text").text("OK ! Probability : "+proba);
                    $("#check_success").css( "background-color", "green");
                } else {
                    $("#check_success .info_text").text("Nope ! Probability : "+proba);
                    $("#check_success").css( "background-color", "red");
                }
                $("#check_success").click(function() {
                    $("#check_success").css( "display", "none");
                });
            }

            var error = function() {
                green = 13;
                $("#enrollment_pending").css( "display", "none");
                $("#check_success").css( "display", "none");
                $("#error").css( "display", "table");
                $("#error").click(function() {
                    $("#error").css( "display", "none");
                });
            }
            
			var signPad = signatureCanvas(
                $("#signPad"),
                $("#add"),
                $("#enroll"),
                $("#check"),
                $("#clear"),
                add_success,
                enrollment_pending,
                enrollment_success,
                check_success,
                error
            );
		</script>
    </body>
</html>